<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head th:replace="fragments :: head">


<!--    &lt;!&ndash;[if lt IE 9]>-->
<!--    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
<!--    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
<!--    <![endif]&ndash;&gt;-->

</head>

<body>
<div th:replace="fragments::main-top"></div>
<header th:replace="fragments::main-header"></header>


<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div th:replace="fragments::all-title-box">
</div>
<!-- End Slider -->

<!-- Start Products  -->

<!-- Fish -->
<div class="products-box" th:each="category : ${categories}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1 th:text="${category.name}"></h1>
                    <p>Have you a good meal!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".best-seller">Best seller</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            <div class="col-lg-3 col-md-6 special-grid best-seller" th:each="product : ${products}" th:if="${product.category.name} ==  ${category.name}">
                <div class="products-single fix">
                    <form th:action="@{/add-to-cart}" method="post">
                    <div class="box-img-hover">
                        <img th:src="@{'data:image/jpeg;base64,' + ${product.image}}" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a th:href="@{/product-detail/{id}(id = ${product.id})}" data-toggle="tooltip" data-placement="right"
                                       title="View"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <input type = "hidden" th:value = "${product.id}" name = "id" class = "form-control">
                            <input type="submit" class="btn hvr-hover" value="Add to cart">
                        </div>
                    </div>
                    </form>
                    <div class="why-text">
                        <h4 th:text="${product.name}"></h4>
                        <h5 th:text="${product.costPrice}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments::instagram-box"></div>
<!-- End Products  -->
<footer th:replace="fragments::footer"></footer>
<div th:replace="fragments::script"></div>
</body>

</html>